<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ServletExample</display-name>
	<servlet>
		<servlet-name>helloServlet</servlet-name>
		<servlet-class>com.revature.servlets.MyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>printWriterServlet</servlet-name>
		<servlet-class>com.revature.servlets.PrintWriterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>printWriterServlet</servlet-name>
		<url-pattern>/print</url-pattern>
	</servlet-mapping>
</web-app>