h1 {
    color: hotpink;
    font-size: 240px
}
#notPink {
    color: black;
}
.smallHeader {
    font-size: 100px;
}
#div1 {
    float: left;
    background-color: aquamarine;
    text-align: left;
    border-color: black;
    border-width: 15px;
    border-style: solid;
    padding: 10px;
    margin: 20px;
}

#div2 {
    float: right;
    background-color: yellow;
    text-align: right;
}